<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
<title>{{ e.orderInfo.irsName }}</title>
<style>

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    padding: 0;
    font-family: 'Lora';
  }

  .page {
    page-break-after: always;
  }

  .page-content {
    position: relative;
    width: 7in;
    height: 10.625in;
    left: 0.75in;
    top: 0.1875in;
  }
  div, p {text-align: justify}
    #logo {
      position: absolute;
      right: 10px;
      top: 5px;
    }

  .wrapper {
    position: absolute;
    top: 2.75in;
  }
</style>
</head>
<body>
<img id="logo" src="http://tranquil.newagelabs.co/static/images/tax_sm_eagle.png" width="150"/>
<div class="page">
    <div class="page-content">
      <!-- Your logo here! -->
      <div class="wrapper">
      <div style="font-size:20px; clear:both; font-weight: bold; margin-top:20px;">{{ e.orderInfo.irsName }}</div>
      <div class="head">
        <div class="row">
          <div class="col"><strong>EIN</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ e.orderInfo.irsEin }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Name</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ e.personalInformation.suffix }} {{ e.personalInformation.firstName }} {{ e.personalInformation.middleName }} {{ e.personalInformation.lastName }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <strong>Address</strong>&nbsp; {{ e.businessInformation.address }}, {{ e.businessInformation.city }}, {{ e.businessInformation.state }}
          </div>
        </div>
      </div>

      <p class="block">
        Your EIN will identify you, your business accounts, tax returns, and documents, even if you have no employees.
        Please keep
        this notice in your permanent records.
      </p>
      <p class="block">When filing tax documents, payments, and related correspondence, it is very important that you
        use
        your EIN and
        complete name and address exactly as shown above. Any variation may cause a delay in processing, result in
        incorrect
        information in your account, or even cause you to be assigned more than one EIN.
      </p>
      <p class="block">A limited liability company (LLC) may file Form 8832, Entity Classification Election, and elect
        to
        be classified as
        an association taxable as a corporation. If the LLC is eligible to be treated as a corporation that meets
        certain
        tests and it will be electing S corporation status, it must timely file Form 2553, Election by a Small Business
        Corporation. The LLC will be treated as a corporation as of the effective date of the S corporation election and
        does
        not need to file Form 8832.
      </p>
      <p class="block">To obtain tax forms and publications, including those referenced in this notice, visit www.irs.gov.
      </p>
      <br>

      <p class="block">If you have any questions, please email us at {{ constants.email_in_pdf }}</p>
    </div>


    </div>
  </div>
</body>
</html>
