<p>Thank you for your interest in Tax-Filing-Forms!</p>

<p>We noticed that you did not complete your registration process on our site and would like to reach out to see if we could be of more assistance.</p>

<p>In order to provide all of our clients with the service they deserve, we're offering a one time application fee of only $97 for your first filing with us. (Regular Rates will apply should you request a second EIN.)</p>

<p>This is a limited time promotion we are offering to our potential clients in order to show them how simple and easy our services can make this process. If you're interested, please follow the link below to complete your application at this discounted price.</p>

<h2><a href="http://irs.tax-filing-forms.com/checkout/?entryId={{ e.sign_string }}&discount=true">Finish Application</a></h2>

<p>Best!<br>
- Support Team</p>
