<p>When processing the EIN application submitted, we received notice that the name and social security number,
ending in <strong>{{ e.personalInformation.socialSecurity|slice:"-4:" }}</strong>,
for <strong>{{ e.personalInformation.firstName }} {{ e.personalInformation.lastName }}</strong>,
does not match IRS record. This information must match the social security card. Please contact us
  by replying to this email so that we may update the information and continue processing your application.</p>
<p>
Thank you,<br>
{{ constants.company_name }} Support Team

  </p>
