Refund Request: {% if entry %}{{ entry.order_id }}{% endif %}
Email: {{ ticket.email }}
```
{{ ticket.subject }}
{{ ticket.description|truncatewords:80 }}
```
{% if refunded_amount %}Refunded {{ refunded_amount }}${% else %}Not refunded, need manual check.{% endif %}
<https://{{ zendesk_subdomain }}.zendesk.com/agent/tickets/{{ ticket.id }}|[Open Ticket]>{% if entry %}<https://tranquil.newagelabs.co/entry/{{ entry.id }}/|[Open CRM]> <https://oneclickawaytgc.limelightcrm.com/admin/orders.php?show_details=show_details&show_folder=view_all&fromPost=1&act=&sequence=1&show_by_id={{ entry.order_id }}/|[Open LL]><http://tranquil.newagelabs.co/entry/{{ entry.id }}/refund/|[Refund Form]>{% else %} Can't find Entry {% endif %}

