{% load crispy_forms_field %}

{% if field.is_hidden %}
  {{ field }}
{% else %}
  {% if field|is_checkbox %}
    <div class="form-group{% if using_grid_layout %} row{% endif %}">
    {% if label_class %}
      <div class="controls col-{{ bootstrap_device_type }}-offset-{{ label_size }} {{ field_class }}">
    {% endif %}
  {% endif %}
<{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}"
                                               {% if not field|is_checkbox %}class="form-group{% if using_grid_layout %} row{% endif %}{% else %}class="
                                               checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}
                                               {% if form_show_errors %}{% if field.errors %}
                                               has-danger{% endif %}{% endif %}{% if field.css_classes %}
                                                 {{ field.css_classes }}{% endif %}">
{% if field.label and not field|is_checkbox and form_show_labels %}
  <label for="{{ field.id_for_label }}"
         class="form-control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
    {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
  </label>
{% endif %}

{% if field|is_checkboxselectmultiple %}
  {% include 'bootstrap4/layout/checkboxselectmultiple.html' %}
{% endif %}

{% if field|is_radioselect %}
  {% include 'bootstrap4/layout/radioselect.html' %}
{% endif %}

{% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
  {% if field|is_checkbox and form_show_labels %}
    <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
      {% crispy_field field %}
      {{ field.label|safe }}
      {% include 'bootstrap4/layout/help_text_and_errors.html' %}
    </label>
  {% else %}
    <div class="{{ field_class }}">
      {% crispy_field field %}
    </div>
    {% include 'bootstrap4/layout/help_text_and_errors.html' %}
  {% endif %}
{% endif %}
</{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% if field|is_checkbox %}
  {% if label_class %}
    </div>
  {% endif %}
  </div>
{% endif %}
{% endif %}
