{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Refund{% endblock title %}
{% block container %}
<div class="container">
{% endblock %}

{% block content %}
  <h2>Refund</h2>
  Refund order {{ entry.first_name }} {{ entry.last_name }}?
  <h4>Orders info</h4>
  <form method="post" action="">
  {% csrf_token %}
  {{ formset.management_form }}
  <table class="table table-sm">
  <thead>
  <tr>
    <th>Order id</th>
    <th>Date</th>
    <th>Product Name</th>
    <th>Sum</th>
    <th>Status</th>
    <th>Charge</th>
    <th>Refund</th>
    <th>Comment</th>
  </tr>
  </thead>
  {% for order in lOrders %}
    <tr>
    <td>{{ order.id }}</td>
    <td>{{ order.date }}</td>
    <td>{{ order.name }}</td>
    <td class="order_amount">{{ order.sum }}<div class="max_refund" style="display: none">{{ order.max_refund }}</div></td>
    <td>{{ order.status }}</td>
    {{ order.form.order_id  }}
      {%if order.is_void == 'yes' %}
          <td colspan="3">Order was Voided</td>
      {% elif order.is_chargeback == "1" %}
          <td colspan="3">Order was Chargebacked</td>
      {% else %}
        <td class="charge">{{ order.form.refund_charge }}</td>
        <td class="amount">{{ order.form.refund_amount }}</td>
      {% endif %}
      <td>
        {% if order.is_refund == 'yes' %}
          Refunded {{ order.refund_amount }}$
        {% endif %}
      </td>

    </tr>
  {% endfor %}
  </table>
  <div class="form-group row">
    <div class="col-sm-12">
      <button class="btn btn-info float-right refund" type="submit">Refund
        <sum>277</sum>.00$
      </button>

    </div>

  </div>
  </form>
  {% if not entry.d.refundLogs %}
  {% load crispy_forms_tags %}
  {% else %}
Refund was made:
    {% for line in entry.d.refundLogs %}
        {% if line.dt %}
          <li>Refunded {{ line.amount }}$ - {{ line.dt }}</li>
        {% endif %}
        {% empty %}
          <li>Refunded in LL dashboard</li>
        {% endfor %}

{% endif %}
  <br><hr>
  <h2>Discount application</h2>
  <p></p>
  {% crispy discount_form %}


{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $(".form-group").addClass("row");

      update_sum_refund_value = function () {
        sum_refund = 0;
        $("td.amount input").each(function (index) {
          console.log($(this).val());
          sum_refund = sum_refund - $(this).val();
        });
        $("sum").text(sum_refund * -1);

        if (sum_refund === '0.00'){
          $("button.refund[type=submit]").prop("disabled", true);
        }
        else{
          $("button.refund[type=submit]").prop("disabled", false);
        }
      };
      update_sum_refund_value();


      $("td.charge input").on('input', function () {
        const $tr = $(this).closest('tr');
        const base_amount = $tr.find(".max_refund").text();
        const charge = $(this).val();
        var amount = base_amount - charge;
        if (amount < 0) {amount = 0};
        $tr.find("td.amount input").val(amount);
        console.log(amount, base_amount, charge);
        update_sum_refund_value()
      })
    })

   $(function () {
            var focusedElement;
            $(document).on('focus', 'input', function () {
                if (focusedElement == this) return; //already focused, return so user can now place cursor at specific point in input.
                focusedElement = this;
                setTimeout(function () { focusedElement.select(); }, 50); //select all text in any field on focus for easy re-entry. Delay sightly to allow focus to "stick" before selecting.
            });
        });
  </script>
{% endblock %}
