{% extends "base.html" %}
{% load static i18n %}
{% load url_tags %}
{% block title %}Entries{% endblock title %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
  <link rel="stylesheet" href="{% static 'css/select2-tags.css' %}">
  <style>
  .page-items{white-space:nowrap;}
  </style>
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  <style>
    .form-group {
      margin-right: 8px
    }
  </style>
  <div style="margin:10px">
    {% crispy search_form %}
  </div>
  <table class="table table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Type</th>
      <th>Date</th>
      <th>Email</th>
      <th>Phone</th>
      <th>LL ID</th>
      <th>Payment status</th>
      <th>Filling status</th>
      <th>IRS EIN</th>
      <th>Tags</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      {% if entry.d.filingDocumentType %}
        <tr class="{{ entry.get_row_class }}">

          <td>{{ entry.d.counter }}</td>
          <td><a href="{% url 'detail' entry.d.id %}" target="_blank">
            {{ entry.first_name }} {{ entry.last_name }}<br>
            {{ entry.d.filingDocumentType }} <br>
            </a>
            <span class="badge {% if entry.get_type.name == '1DAY' %}
                              badge-warning
                              {% elif entry.get_type.name == '1HOUR' %}
                              badge-danger
                              {% else %}
                              badge-secondary
                              {% endif %}
            ">{{ entry.get_type.name }}</span>
            <span class="badge badge-secondary">{{ entry.domain_key }}</span>
          </td>
          <td>{{ entry.d.orderInfo.created|date:"Y-m-d H:i" }}</td>
          <td>{% for email in entry.emails %}{{ email }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td>{% for phone in entry.phones %}
            <nobr>{{ phone }}</nobr>{% if not forloop.last %}<br> {% endif %}{% endfor %}</td>
          <td>{% autoescape off %}
            <nobr>O: {{ entry.order_link }}</nobr><br>
            <nobr>P: {{ entry.prospect_link }}</nobr>
          {% endautoescape %}
          </td>
          <td>{% if entry.d.payment.creditCardNumber == '4640111111111111' %}Test{% else %}
            {{ entry.d.orderInfo.paymentStatus }}{% endif %}</td>
          <td>{{ entry.filing_status }}</td>
          <td>{{ entry.d.orderInfo.irsEin }}
            {% if entry.d.orderInfo.irsEin and entry.d.orderInfo.irsName %}
              <a href="{% url 'pdf' entry.d.id %}?view=1">PDF</a> | <a href="{% url 'pdf-new' entry.d.id %}?view=1">PDF new</a> |
              {% if entry.d.orderInfo.emailSent %}
                Email sent
              {% else %}
              {% endif %}
            {% endif %}
          </td>
          <td>
            <select data-entry-id="{{ entry.d.id }}" class="entry__tags js-tags" multiple="multiple">
              {% with entry_tags=entry.d.tags %}
                {% for tag in all_tags %}
                  <option
                    {% if tag in entry_tags %}
                      selected="selected"
                    {% endif %}
                  >
                    {{tag}}
                  </option>
                {% endfor %}
              {% endwith %}
            </select>
          </td>
          <td>{{ entry.d.orderInfo.notes }}
            {% if entry.d.socialSecurityValid %}{% if entry.d.socialSecurityValid == '1' %}socialSecurityValid{% else %}
              {{ entry.d.socialSecurityValid }}{% endif %}{% endif %}
          </td>
          <td>

            <div
              class="btn-group"
              data-entry-id="{{ entry.d.id }}"
              role="group"
              aria-label="Actions">
              <i
                class="fas d-none"
                id="iValidateSSN_{{ entry.d.id }}"></i>
              <button
                type="button"
                class="btn btn-default"
                data-entry-id="{{ entry.d.id }}"
                data-entry-firstname="{{ entry.d.personalInformation.firstName }}"
                data-entry-middlename="{{ entry.d.personalInformation.middleName }}"
                data-entry-lastname="{{ entry.d.personalInformation.lastName }}"
                data-entry-ssn="{{ entry.d.personalInformation.socialSecurity }}">
                Validate SSN
              </button>
            </div>

          </td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

  {% comment %} Paginator {% endcomment %}
  <div class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination">
      {% if page.has_previous %}
        <li class="paginate_button page-item previous">
          <a class="page-link"
            href="?{% url_replace request 'page' page.previous_page_number %}">&larr; Previous</a>
        </li>
      {% else %}
        <li class="paginate_button page-item previous disabled">
          <a href="#" class="page-link">&larr; Previous</a>
        </li>
      {% endif %}
      {% for pagenum in pages %}
        <li class="paginate_button page-item{% if page.number == pagenum %} active{% endif %}">
          <a class="page-link" href="?{% url_replace request 'page' pagenum %}">{{ pagenum }}</a>
        </li>
      {% endfor %}
      {% if page.has_next %}
        <li class="paginate_button page-item next">
          <a class="page-link"
            href="?{% url_replace request 'page' page.next_page_number %}">Next &rarr;</a>
        </li>
      {% else %}
        <li class="paginate_button page-item next disabled">
          <a href="#" class="page-link">Next &rarr;</a>
        </li>
      {% endif %}
    </ul>
  </div>



{% endblock %}
{% block javascript %}
  {{ block.super }}
{#  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.min.js"></script>
  <script src="{% static 'js/tags.js' %}"></script>
  <script>
    {% comment %}
    $('.table').dataTable({
      lengthMenu: [
        [50, 100, -1],
        [50, 100, "All"]
      ]
    });
    {% endcomment %}

    $('table').on("click", "button[data-entry-id]", function () {
      const $btn = $(this);
      const entryId = $btn.data('entry-id');
      const $icon = $(`#iValidateSSN_${entryId}`);

      const toProgressState = function () {
        $icon.addClass('fa-spinner fa-pulse');

        $btn.prop('disabled', true);
        $btn.switchClass('btn-default', 'btn-warning');
        $btn.text("Validating SSN...");
      };
      const toSuccessState = function () {
        $icon.removeClass('fa-pulse fa-spinner');
        $icon.addClass('fa-check bg-success');

        $btn.prop('disabled', false);
        $btn.switchClass('btn-warning', 'btn-success');
        $btn.text("Re-validate SSN");
      };
      const toErrorState = function () {
        $icon.removeClass('fa-pulse fa-spinner');
        $icon.addClass('fa-times bg-danger');

        $btn.prop('disabled', false);
        $btn.switchClass('btn-warning', 'btn-danger');
        $btn.text("Re-validate SSN");
      };

      const data = {
        'id': entryId,
        'first_name': $btn.data('entry-firstname'),
        'middle_name': $btn.data('entry-middlename'),
        'last_name': $btn.data('entry-lastname'),
        'ssn': $btn.data('entry-ssn'),
      };
      console.log(JSON.stringify(data, null, '\t'));

      toProgressState();
      $.ajax({
        url: '{% url 'validate_entry_ssn' %}',
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (response) {
          console.log(JSON.stringify(response, null, '\t'));
          if (response.success) {
            toSuccessState()
          } else {
            toErrorState()
          }
        },
        error: function (response) {
          console.log(response)
        }
      });
    })
  </script>
{% endblock %}
