{% extends "base.html" %}

{% block title %}Entry{% endblock title %}
{% block container %}
  <div class="container-fluid">
{% endblock %}

{% block content %}
  <style>h4 {
    margin-top: 15px
  }</style>

  <h2>Details</h2>

  <ul class="nav nav-tabs" id="details-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="raw-tab" data-toggle="tab" href="#raw" role="tab"
         aria-controls="raw"
         aria-selected="false">Raw data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab"
         aria-controls="info"
         aria-selected="true">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="info-experimental-tab" data-toggle="tab" href="#info-experimental" role="tab"
         aria-controls="info-experimental"
         aria-selected="false">Info experimental</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab"
         aria-controls="actions"
         aria-selected="false">Emails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab"
         aria-controls="services"
         aria-selected="false">Services</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="logs-tab" data-toggle="tab" href="#logs" role="tab" aria-controls="logs"
         aria-selected="false">Logs</a>
    </li>
  </ul>

  <br>

  <div class="tab-content" id="details-tabs-content">
  <div class="tab-pane fade " id="raw" role="tabpanel" aria-labelledby="raw-tab">
      <pre>
       {{ entry_str }}
      </pre>
  </div>

  <div class="tab-pane fade " id="services" role="tabpanel" aria-labelledby="services-tab">
    {% if entry.is_refund_available %}
      <a href="{{ entry.get_refund_url }}">Refund</a>
    {% else %}
      <a href="{{ entry.get_refund_url }}">Refund</a>
      {% for line in entry.d.refundLogs %}
        <li>Refunded {{ line.amount }}$ - {{ line.dt }}</li>
      {% empty %}
        <li>Refunded in LL dashboard</li>
      {% endfor %}
    {% endif %}
  </div>

  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
    {% load crispy_forms_tags %}
    {% crispy form %}


    <h4>Business Info</h4>
    {% for key, value in e.businessInformation.items %}
      <div id="div_id_firstName" class="row">
        <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">
          {{ key|title }}
        </label>
        <div class="col-sm-8">{{ value }}</div>
      </div>
    {% endfor %}
    <h4>Additional Info</h4>
    {% for key, value in e.additionalInformation.items %}
      <div id="div_id_firstName" class="row">
        <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">
          {{ key|title }}
        </label>
        <div class="col-sm-8">{{ value }}</div>
      </div>
    {% endfor %}
    <h4>taxIdRecipientInformation</h4>
    {% for key, value in e.taxIdRecipientInformation.items %}
      <div id="div_id_firstName" class="row">
        <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">
          {{ key|title }}
        </label>
        <div class="col-sm-8">{{ value }}</div>
      </div>
    {% endfor %}
    <h4>otherBusinessMailingInformation</h4>
    {% for key, value in e.otherBusinessMailingInformation.items %}
      <div id="div_id_firstName" class="row">
        <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">
          {{ key|title }}
        </label>
        <div class="col-sm-8">{{ value }}</div>
      </div>
    {% endfor %}
    <h4>llcInformation</h4>
    {% for key, value in e.otherBusinessMailingInformation.items %}
      <div id="div_id_firstName" class="row">
        <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">
          {{ key|title }}
        </label>
        <div class="col-sm-8">{{ value }}</div>
      </div>
    {% endfor %}
    <h4>Base</h4>
    <div id="div_id_firstName" class="row">
      <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">Created</label>
      <div class="col-sm-8">{{ e.created }}</div>
    </div>
    <div id="div_id_firstName" class="row">
      <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">Closing Month</label>
      <div class="col-sm-8">{{ e.entityAccountingClosingMonth }}</div>
    </div>
    <div id="div_id_firstName" class="row">
      <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">Start date</label>
      <div class="col-sm-8">{{ e.entityStartDate }}</div>
    </div>
    <div id="div_id_firstName" class="row">
      <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">Document type</label>
      <div class="col-sm-8">{{ e.filingDocumentType }}</div>
    </div>
    <div id="div_id_firstName" class="row">
      <label for="id_firstName" class="form-control-label col-sm-2 col-form-label">jointVenture</label>
      <div class="col-sm-8">{{ e.jointVenture }}</div>
    </div>
  </div>

  <div class="tab-pane fade" id="info-experimental" role="tabpanel" aria-labelledby="info-experimental-tab">
    <table class="table tabledata table-sm">
      <thead>
      <tr>
        <th>Category</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      {% for category, val in e.items %}
        {% if val.items %}
          <tr>
            <td>{{ category }}</td>
            <td>
              {% for key, value in val.items %}
                <li>{{ key }} - {{ value }}</li>
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
    <div>

      {% if e.orderInfo.emailSentInfo %}
        <h4>Email logs</h4>
        Difference: {{ entry.time_difference }}<br>
        {% for line in  e.orderInfo.emailSentInfo %}
          {{ line.email_type }} - {{ line.to }} -- {{ line.dt|date:"Y-m-d H:i" }}<br>
        {% endfor %}
      {% else %}
        {% if e.orderInfo.emailSent %}
          Email status: {{ e.orderInfo.emailSent }}
        {% else %}
          Email status: Not sent
        {% endif %}
      {% endif %}
      <hr>
      <ul class="nav nav-tabs" id="emails-tabs" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active" id="ssn-error-tab" data-toggle="tab" href="#ssn-error" role="tab"
             aria-controls="ssn-error"
             aria-selected="true">SSN Error</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="send-ein-tab" data-toggle="tab" href="#send-ein" role="tab"
             aria-controls="send-ein"
             aria-selected="false">Send EIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ss4-required-tab" data-toggle="tab" href="#ss4-required" role="tab"
             aria-controls="send-ein"
             aria-selected="false">SS-4 REQUIRED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ss4-required-tab" data-toggle="tab" href="#ss4-sign" role="tab"
             aria-controls="send-ein"
             aria-selected="false">SS-4 Sign</a>
        </li>

      </ul>
      <br>

      <div class="tab-content col-sm-8 col-lg-6" id="emails-tabs-content">
        <div class="tab-pane fade show active" id="ssn-error" role="tabpanel" aria-labelledby="ssn-error-tab">
          {% crispy email_error_form %}
        </div>

        <div class="tab-pane fade" id="send-ein" role="tabpanel" aria-labelledby="send-ein-tab">
          {% if e.orderInfo.irsEin and e.orderInfo.irsName %}
            Ein email template: {{ entry.get_ein_template }}
            {% crispy email_ein_form %}
          {% else %}
            irs EIN or irs Name not set
          {% endif %}
        </div>

        <div class="tab-pane fade" id="ss4-required" role="tabpanel" aria-labelledby="ss4-required-tab">
          {% crispy email_ss4_form %}
        </div>

        <div class="tab-pane fade" id="ss4-sign" role="tabpanel" aria-labelledby="ss4-sign-tab">
          <div style="display:none">{% crispy email_ss4_sign_form %}</div>
          {% with email_ss4_sign_form as form %}
            <form action="{{ form.helper.form_action }}" class="form-horizontal" method="post">
              {% csrf_token %}
              {{ form.media }}
              {{ form.email }}
              {{ form.id }}
              <div id="div_id_email-name" class="form-group"><label for="id_email-name"
                                                                    class="form-control-label col-sm-3 col-form-label">
                {{ form.name.label }}
              </label>
                <div class="col-sm-9">{{ form.name }}</div>
              </div>
              {{ form.email_type }}
              <div id="div_id_email-subject"
                   class="form-group"><label for="id_email-subject"
                                             class="form-control-label col-sm-3 col-form-label requiredField">
                {{ form.subject.label }}<span class="asteriskField">*</span> </label>
                <div class="col-sm-9">{{ form.subject }}
                </div>
              </div>
              <div id="div_id_email-to" class="form-group"><label for="id_email-to"
                                                                  class="form-control-label col-sm-3 col-form-label requiredField">
                {{ form.to.label }}<span class="asteriskField">*</span> </label>
                <div class="col-sm-9">{{ form.to }}</div>
              </div>

              <div id="div_id_email-refund_delivery" class="form-group"><label for="id_email-refund_delivery"
                                                                  class="form-control-label col-sm-3 col-form-label requiredField">
                {{ form.refund_delivery.label }}</label>
                <div class="col-sm-9">{{ form.refund_delivery }}</div>
              </div>
              {{ form.bcc }}
              <div id="div_id_email-body"
                   class="form-group"><label for="id_email-body"
                                             class="form-control-label col-sm-3 col-form-label">
                {{ form.body.label }}
              </label>
                <div class="col-sm-9">
                  <div class="django-ckeditor-widget" data-field-id="id_email-body"
                       style="display: inline-block;"> {{ form.body }}
                  </div>
                </div>
              </div>

              <h3>Custom fields:</h3>
              {% for key, val in custom_fields.items %}
                <div class="form-group row">
                  <label for="{{ key }}" class="form-control-label col-sm-3 col-form-label">
                    {{ key }}
                  </label>
                  <div class="col-sm-9">
                    <input type="text" name="{{ key }}" maxlength="300" class="textinput textInput form-control"
                           value="{{ val }}">
                  </div>
                </div>
              {% endfor %}
              <div class="form-group">
                <div class="offset-sm-3 col-md-offset-3 col-lg-9 col-md-9">
                  <button class="btn btn-info" type="submit">Send email</button>
                </div>

              </div>
            </form>
          {% endwith %}

        </div>

      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="logs-tab">
  <ul class="nav nav-tabs" id="irs-logs-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="ssn-validation-logs-tab" data-toggle="tab" href="#ssn-validation-logs"
         role="tab" aria-controls="ssn-validation-logs"
         aria-selected="false">SSN Validation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ein-verification-logs-tab" data-toggle="tab" href="#ein-verification-logs"
         role="tab" aria-controls="ein-verification-logs"
         aria-selected="false">EIN Verification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ein-retrieval-logs-tab" data-toggle="tab" href="#ein-retrieval-logs"
         role="tab" aria-controls="ein-retrieval-logs"
         aria-selected="false">EIN Retrieval</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ein-real-letter-logs-tab" data-toggle="tab" href="#ein-real-letter-logs"
         role="tab" aria-controls="ein-real-letter-logs"
         aria-selected="false">Real Letter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ein-send-fax-logs-tab" data-toggle="tab" href="#ein-send-fax-logs"
         role="tab" aria-controls="ein-send-fax-logs"
         aria-selected="false">Send fax</a>
    </li>

  </ul>

  <br>

  <div class="tab-content" id="irs-logs-content">
  <div class="tab-pane fade show active" id="ssn-validation-logs" role="tabpanel"
       aria-labelledby="ssn-validation-logs-tab">
    <button type="button" role="button" class="btn btn-primary mb-4" id="btnValidateSSN">
      Validate SSN
    </button>

    {% for log in ssn_validation_logs %}
      <div class="card container-fluid mb-3 {% if log.success %}border-success{% else %}border-danger{% endif %}">
        <div class="row card-header text-white {% if log.success %}bg-success{% else %}bg-danger{% endif %}">
          <h4>
            <strong>{% if log.success %}Success{% else %}Error{% endif %}
              #{{ log.pk }}</strong>, {{ log.created }}
          </h4>
        </div>
        {% if log.message %}
          <div class="row card-body">
            <h5 class="card-title card-text">
              <div class="mb-2">"{{ log.message }}"</div>
              <div><a href="{{ log.url }}">{{ log.url }}</a></div>
            </h5>
          </div>
        {% endif %}
        {% if log.img_data %}
          <div class="row justify-content-center">
            <img class="img-fluid"
                 src="{{ log.img_data }}"
                 alt="{{ log.message }}">
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="tab-pane fade" id="ein-verification-logs" role="tabpanel"
       aria-labelledby="ein-verification-logs-tab">
    <button type="button" role="button" class="btn btn-primary mb-4" id="btnVerifyEIN">Verify EIN</button>

    {% for log in ein_verification_logs %}
      <div id="ein-verification-logs-gallery" class="mb-4">
        <div
          class="card container-fluid mb-3 {% if log.success %}border-success{% else %}border-danger{% endif %}">
          <div class="row card-header text-white {% if log.success %}bg-success{% else %}bg-danger{% endif %}">
            <h4>
              <strong>{% if log.success %}Success{% else %}Error{% endif %}
                #{{ log.pk }}</strong>, {{ log.created }}
            </h4>
          </div>
          {% if log.message %}
            <div class="row card-body">
              <h5 class="card-title card-text">"{{ log.message }}"</h5>
            </div>
          {% endif %}
          <div class="row card-body">
            <div class="nav nav-pills flex-column" id="ein-verification-tabs" role="tablist"
                 aria-orientation="vertical">
              {% for step in log.steps.all %}
                <a
                  id="ein-verification-{{ log.pk }}-{{ step.number }}-tab"
                  class="nav-link btn mb-1 {% if step.success %}btn-success{% else %}btn-danger{% endif %}{% if forloop.first %} active{% endif %}"
                  data-toggle="pill"
                  href="#ein-verification-{{ log.pk }}-{{ step.number }}-content"
                  role="tab"
                  aria-controls="ein-verification-{{ log.pk }}-{{ step.number }}-content"
                  aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                  <span class="float-left">{{ step.number }}. "{{ step.form_header }}"</span>
                </a>
              {% endfor %}
            </div>
            <div class="tab-content" id="ein-verification-tabsContent">
              {% for step in log.steps.all %}
                <div class="ml-4 tab-pane fade{% if forloop.first %} show active{% endif %}"
                     id="ein-verification-{{ log.pk }}-{{ step.number }}-content"
                     role="tabpanel"
                     aria-labelledby="ein-verification-{{ log.pk }}-{{ step.number }}-tab">
                  {% if not step.success %}
                    <div class="mb-4">
                      <h5 class="mb-4"><strong>Error messages</strong>: {{ step.error_messages_legacy }}</h5>
                      <div>
                        <button class="btn btn-info mb-1"
                                type="button"
                                data-toggle="collapse"
                                data-target="#ein-verification-problem-in-content"
                                aria-expanded="false"
                                aria-controls="ein-verification-problem-in-content">
                          Show more info
                        </button>
                        <div class="collapse" id="ein-verification-problem-in-content">
                          <pre class="card card-body">{{ step.problem_in_legacy|pprint }}</pre>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                  <img class="img-fluid"
                       src="{{ step.img_data }}"
                       alt="{{ step.form_header }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>

  <div class="tab-pane fade" id="ein-retrieval-logs" role="tabpanel"
       aria-labelledby="ein-retrieval-logs-tab">
    <div>
      <button type="button" role="button" class="btn btn-primary mb-4" id="btnRetrieveEIN">
        Retrieve EIN
      </button>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="cbGenerateSendPDF" value="1">
        <label class="form-check-label" for="cbGenerateSendPDF">Generate PDF upon success & send it</label>
      </div>
    </div>

    {% for log in ein_retrieval_logs %}
      <div id="ein-retrieval-logs-gallery" class="mb-4">
        <div
          class="card container-fluid mb-3 {% if log.success %}border-success{% else %}border-danger{% endif %}">
          <div class="row card-header text-white {% if log.success %}bg-success{% else %}bg-danger{% endif %}">
            <h4>
              <strong>{% if log.success %}Success{% else %}Error{% endif %}
                #{{ log.pk }}</strong>, {{ log.created }}
            </h4>
          </div>
          {% if log.message %}
            <div class="row card-body">
              <h5 class="card-title card-text">"{{ log.message }}"</h5>
            </div>
          {% endif %}
          <div class="row card-body">
            <div class="nav nav-pills flex-column" id="ein-retrieval-tabs" role="tablist"
                 aria-orientation="vertical">
              {% for step in log.steps.all %}
                <a
                  id="ein-retrieval-{{ log.pk }}-{{ step.number }}-tab"
                  class="nav-link btn mb-1 {% if step.success %}btn-success{% else %}btn-danger{% endif %}{% if forloop.first %} active{% endif %}"
                  data-toggle="pill"
                  href="#ein-retrieval-{{ log.pk }}-{{ step.number }}-content"
                  role="tab"
                  aria-controls="ein-retrieval-{{ log.pk }}-{{ step.number }}-content"
                  aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                  <span class="float-left">{{ step.number }}. "{{ step.form_header }}"</span>
                </a>
              {% endfor %}
            </div>
            <div class="tab-content" id="ein-retrieval-tabsContent">
              {% for step in log.steps.all %}
                <div class="ml-4 tab-pane fade{% if forloop.first %} show active{% endif %}"
                     id="ein-retrieval-{{ log.pk }}-{{ step.number }}-content"
                     role="tabpanel"
                     aria-labelledby="ein-retrieval-{{ log.pk }}-{{ step.number }}-tab">

                  {% if forloop.last %}
                    {% if log.assigned_ein %}
                      <h5 class="mb-4"><strong>Assigned EIN</strong>: {{ log.assigned_ein }}</h5>
                    {% endif %}
                    {% if log.assigned_legal_name %}
                      <h5 class="mb-4"><strong>Assigned Legal Name</strong>: {{ log.assigned_legal_name }}</h5>
                    {% endif %}
                  {% endif %}

                  {% if not step.success %}
                    <div class="mb-4">
                      <h5 class="mb-4"><strong>Error messages</strong>: {{ step.error_messages_legacy }}</h5>
                      <div>
                        <button class="btn btn-info mb-1"
                                type="button"
                                data-toggle="collapse"
                                data-target="#ein-retrieval-problem-in-content"
                                aria-expanded="false"
                                aria-controls="ein-retrieval-problem-in-content">
                          Show more info
                        </button>
                        <div class="collapse" id="ein-retrieval-problem-in-content">
                          <pre class="card card-body">{{ step.problem_in_legacy|pprint }}</pre>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <img class="img-fluid"
                       src="{{ step.img_data }}"
                       alt="{{ step.form_header }}">

                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
  <div class="tab-pane fade" id="ein-real-letter-logs" role="tabpanel"
       aria-labelledby="ein-real-letter-logs-tab">
    <div>
      {% if log_testing == 'True' %}
      !! It will not send real letter now. Testing button.
      {% endif %}
      {% crispy real_letter_form %}
      <br>
      {% with entry.get_tracking_number as tracking_number %}
        {% if tracking_number %}
        <h4>Tracking number: {{ tracking_number }}</h4>
        {% else %}
        No tracking number now. You will usually see your first scan event around 3 business days after the piece has been scheduled to go out.
        {% endif %}
      {% endwith %}
      <br>

      {% for log in entry.d.orderInfo.letterSentInfo reversed%}
      <div class="card container-fluid mb-3 border-{% if log.result %}success{% else %}danger{% endif %}">
          <div class="row card-header text-white bg-{% if log.result %}success{% else %}danger{% endif %}">
            <h4>
              <strong>{% if log.result %}success{% else %}Fail{% endif %}</strong>, {{ log.created }}
            </h4>
          </div>

          <div class="row card-body">

            {% if log.error %}{{ log.error }}{% endif %}
            {% if log.thumbnail %}
              <a href="https://dashboard.lob.com/#/letters/{{ log.id }}" target="_blank">Full info</a><br>
              <a href="{{ log.url }}" target="_blank"><img src="{{ log.thumbnail }}"></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <div class="tab-pane fade" id="ein-send-fax-logs" role="tabpanel"
       aria-labelledby="ein-send-fax-logs-tab">
    <div>
      {%  if entry.d.signatureId %}
      {% if fax_testing == 'True' %}
      !! It will not send real fax now. Testing button.
      {% endif %}
      {% crispy send_fax_form %}
      <br>
      {% for log in entry.d.orderInfo.faxSentInfo reversed%}
      <div class="card container-fluid mb-3 border-{% if log.Transmission %}success{% else %}danger{% endif %}">
          <div class="row card-header text-white bg-{% if log.Transmission %}success{% else %}danger{% endif %}">
            <h4>
              <strong>{% if log.Transmission %}success{% else %}Fail{% endif %}</strong>, {{ log.created }}
            </h4>
          </div>

          <div class="row card-body">
            {{ log }}
          </div>
        </div>
      {% endfor %}
      {% else %}
        You can send a fax only to Entries, where 'ss-4 sign' email was sent before.
      {% endif %}
    </div>

  </div>

  </div>
  </div>
  </div>

{% endblock %}


{% block javascript %}
  {{ block.super }}
  <script>
    $(document).ready(function () {
      $(".form-group").addClass("row");

    })
  </script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>

  <script>


    $('.table').dataTable({
      lengthMenu: [
        [10, 50, -1],
        [10, 50, "All"]
      ]
    });

    $('#btnValidateSSN').click(function () {
      const data = {
        // TODO: csrf
        'id': '{{ e.id }}',
        // TODO: send id only
        'first_name': '{{ e.personalInformation.firstName }}',
        'middle_name': '{{ e.personalInformation.middleName }}',
        'last_name': '{{ e.personalInformation.lastName }}',
        'ssn': '{{ e.personalInformation.socialSecurity }}',
      };
      console.log(`btnValidateSSN: ${JSON.stringify(data, null, '\t')}`);

      $.ajax({
        url: '{% url 'validate_entry_ssn' %}',
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (response) {
          console.log(`btnValidateSSN.success: ${JSON.stringify(response, null, '\t')}`);
          location.reload();
        },
        error: function (response) {
          console.log(`btnValidateSSN.error: ${JSON.stringify(response, null, '\t')}`);
        }
      })
    });

    $('#btnRetrieveEIN').click(function () {
      const $self = $(this);
      $self.prop('disabled', true);

      const data = {
        // TODO: csrf
        'id': '{{ e.id }}',
      };
      console.log(`btnRetrieveEIN: ${JSON.stringify(data, null, '\t')}`);

      $.ajax({
        url: '{% url 'entry_ein_retrieval_logs' %}',
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (response) {
          console.log(`btnRetrieveEIN.success: ${JSON.stringify(response, null, '\t')}`);

          const $cbGenerateSendPDF = $('#cbGenerateSendPDF');
          if (response.success && $cbGenerateSendPDF.prop('checked')) {
            const email_ein_form_submit_button_id = {{ email_ein_form_submit_button_id }}
              console.log(`btnRetrieveEIN.success: generating & sending PDF, ${i}`);

            const $email_ein_form_submit_button = $(`#${email_ein_form_submit_button_id}`);
            $email_ein_form_submit_button.click();
          }

          location.reload();
        },
        error: function (response) {
          console.log(`btnRetrieveEIN.error: ${JSON.stringify(response, null, '\t')}`);
        }
      })
    });



    $('#btnVerifyEIN').click(function () {
      const $self = $(this);
      $self.prop('disabled', true);

      const data = {
        // TODO: csrf
        'id': '{{ e.id }}',
      };
      console.log(`btnVerifyEIN: ${JSON.stringify(data, null, '\t')}`);

      $.ajax({
        url: '{% url 'entry_ein_verification_logs' %}',
        type: 'post',
        dataType: 'json',
        data: data,
        success: function (response) {
          console.log(`btnVerifyEIN.success: ${JSON.stringify(response, null, '\t')}`);
          location.reload();
        },
        error: function (response) {
          console.log(`btnVerifyEIN.error: ${JSON.stringify(response, null, '\t')}`);
        }
      })
    });
  </script>
{% endblock %}
