{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}mongo_admin{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <!-- Latest compiled and minified Bootstrap 4 beta CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">

  <!-- Your stuff: Third-party CSS libraries go here -->

  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/project.css' %}" rel="stylesheet">


</head>
<style>
  .head {
    margin: 20px 0
  }

  .head .row {
    border-bottom: 1px solid;
    margin: 0 10px 0 30px
  }

  .head .col-sm-4 {
    font-weight: bold;
  }

  div.block {
    margin-right: 50px;
    margin-bottom: 20px;
    text-align: justify;
  {#img{}#}
  }
</style>
<body>
<div class="container">
  <img src="{{ constants.logo_in_pdf }}">
  <br>
  <div style="font-size:26px; clear:both; font-weight: bold; margin-top:20px;">{{ e.d.orderInfo.irsName }}</div>
  <div class="head">
    <div class="row">
      <div class="col"><strong>EIN</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ e.d.orderInfo.irsEin }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Name</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ e.d.personalInformation.suffix }} {{ e.d.personalInformation.firstName }} {{ e.d.personalInformation.middleName }} {{ e.d.personalInformation.lastName }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Address</strong>&nbsp; {{ e.d.businessInformation.address }}, {{ e.d.businessInformation.city }}, {{ e.d.businessInformation.state }}
      </div>
    </div>
  </div>

  <div class="block">
    Your EIN will identify you, your business accounts, tax returns, and documents, even if you have no employees.
    Please keep
    this notice in your permanent records.
  </div>
  <div class="block">When filing tax documents, payments, and related correspondence, it is very important that you use
    your EIN and
    complete name and address exactly as shown above. Any variation may cause a delay in processing, result in incorrect
    information in your account, or even cause you to be assigned more than one EIN. If the information is not correct
    as
    shown above, please make the correction using the attached tear off stub and return it to us.
  </div>
  <div class="block">A limited liability company (LLC) may file Form 8832, Entity Classification Election, and elect to
    be classified as
    an association taxable as a corporation. If the LLC is eligible to be treated as a corporation that meets certain
    tests and it will be electing S corporation status, it must timely file Form 2553, Election by a Small Business
    Corporation. The LLC will be treated as a corporation as of the effective date of the S corporation election and
    does
    not need to file Form 8832.
  </div>
  <div class="block">To obtain tax forms and publications, including those referenced in this notice, visit our Web site
    at
    www.irs.gov.
  </div>
  <br>

  <div class="block">If you have any questions, please email us at {{ constants.email_in_pdf }}</div>
</div>
</body>
