<head>
  <style type="text/css">
    table {
      padding: 0;
      border-spacing: 0
    }

    td {
      font-size: 14px;
      line-height: 1.4;
      min-width: 70px;
    }

    .header {
      font-size: 40px;
      font-weight: bold
    }

    tr.head td {
      border: 1px solid;
      collapse: 5px;
      font-weight: bold;
    }

    td.col {
      border-left: 1px solid;
      border-right: 1px solid;
    }

    td.left {
      text-align: left;
      padding-left: 10px;
    }

    td.right {
      text-align: right;
      padding-right: 10px;
    }

    tr.grey {
      background-color: #dddddd
    }

    td.top {
      border-top: 1px solid;
    }

    td.cell {
      border: 1px solid;
    }

    tr {
      height: 22px;
    }
  </style>
</head>

<div>
  <br/>
  <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="630">
    <tr>
      <td style="width:147px"></td>
      <td style="width: 70px"></td>
      <td style="width:125px"></td>
      <td style="width: 70px;"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2" style="vertical-align: top; ">
        501 NE HOOD AVE STE 240<br>
        GRESHAM, OR 97030-7347<br><br>
        https://tax-filing-forms.com<br>
      </td>
      <td style="width: 125px"></td>
      <td colspan="3"><img src="https://i.imgur.com/RA9U5Op.png" style="width: 250px; float:right"/></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="header">Invoice</div>
      </td>
      <td></td>
      <td>From:</td>
      <td colspan="2"><strong>Tax-Filing-Forms</strong></td>
    </tr>

    <tr>
      <td style="text-align: center" rowspan="4">Invoice For:</td>
      <td colspan="2">{{ e.first_name }} {{ e.last_name }}</td>
      <td>Order Id</td>
      <td>{{ e.order_id }}</td>
    </tr>
    <tr>
      <td colspan="2">{{ e.d.businessInformation.address }}</td>
      <td>Issue Date</td>
      <td>{{ today|date:"Y.m.d" }}</td>
    </tr>
    <tr>
      <td
        colspan="2">{{ e.d.businessInformation.city }}, {{ e.d.businessInformation.state }}, {{ e.d.businessInformation.zip }}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2">{{ e.phones.0 }}</td>
      <td></td>
      <td></td>
    </tr>
    <tr style="height: 30px">
      <td colspan="6"></td>
    </tr>

    <tr class="head">
      <td colspan="3" style="padding-left:10px; width:300px; border: 1px solid;
    collapse: 5px;
    font-weight: bold;">DESCRIPTION
      </td>
      <td style="text-align: center; border: 1px solid;
    collapse: 5px;
    font-weight: bold;">QUANTITY
      </td>
      <td style="text-align: center; border: 1px solid;
    collapse: 5px;
    font-weight: bold;">UNIT PRICE
      </td>
      <td style="text-align: center; border: 1px solid;
    collapse: 5px;
    font-weight: bold;">AMOUNT
      </td>
    </tr>
    {% for order in e.get_orders %}
      <tr class="{% if forloop.counter|divisibleby:"2" %}grey{% endif %}">
        <td colspan="3" class="left col">
          {% if order.name == 'EIN No-Rush Registration' %}
            EIN Registration
          {% else %}
          {{ order.name }}
          {% endif %}
        </td>
        <td class="right col">1.00</td>
        <td class="right col">${{ order.sum }}</td>
        <td class="right col">${{ order.sum }}</td>
      </tr>
    {% endfor %}
    {% if e.get_orders|length|divisibleby:"2" %}
      <tr class="">
        <td colspan="3" class="left col"></td>
        <td class="right col"></td>
        <td class="right col"></td>
        <td class="right col"></td>
      </tr>
    {% endif %}
    <tr class="grey">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr class="">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr class="grey">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr class="">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr class="grey">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr class="">
      <td colspan="3" class="left col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
      <td class="right col"></td>
    </tr>
    <tr>
      <td colspan="5" class="top right">SUBTOTAL</td>
      <td class="right cell">${{ e.d.orderInfo.amountPaid }}0</td>
    </tr>
    <tr>
      <td colspan="5" class="right">TAX RATE</td>
      <td class="right cell"></td>
    </tr>
    <tr>
      <td colspan="5" class="right">TAX</td>
      <td class="right cell"></td>
    </tr>
    <tr>
      <td colspan="5" class="right"><strong>AMOUNT DUE</strong></td>
      <td class="right cell"></td>
    </tr>
    <tr style="min-height: 10px;">
      <td><br></td>
    </tr>
    <tr>
      <td colspan="6" class="top left">Notes</td>
    </tr>
    <tr style="min-height: 10px;">
      <td><br></td>
    </tr>
    <tr>
      <td colspan="6" class="left">Thanks for choosing Tax-Filing-Forms.com</td>
    </tr>
  </table>
</div>
